absl-py==0.12.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
alembic==1.4.1
altair==4.1.0
altgraph==0.17
aplus==0.11.0
argon2-cffi @ file:///C:/ci/argon2-cffi_1596828585465/work
astor==0.8.1
astropy==4.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
awscli==1.19.72
azure-core==1.14.0
azure-storage-blob==12.8.1
backcall==0.2.0
base58==2.1.0
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blessings==1.7
blinker==1.4
blis==0.7.4
Boruta==0.3
boto3==1.4.8
botocore==1.20.72
Bottleneck == 1.3.2
bqplot==0.12.24
branca==0.4.2
brotlipy==0.7.0
cachetools==4.2.1
catalogue==1.0.0
catboost==0.20.2
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1600699246375/work
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
colorama==0.4.3
colorful==0.5.4
colorlover==0.3.0
cryptography @ file:///C:/ci/cryptography_1601046905460/work
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.5
Cython==0.29.14
dask==2.19.0
databricks-cli==0.14.3
datefinder==0.7.0
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
distributed==2.19.0
docker==5.0.0
docutils==0.15.2
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
frozendict==1.2
fsspec==0.8.7
funcy==1.16
future==0.18.2
gast==0.3.3
gensim==3.8.3
gitdb==4.0.7
GitPython==3.1.16
google-api-core==1.26.3
google-auth==1.27.1
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
graphviz==0.16
greenlet==1.1.0
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
HeapDict==1.0.1
hiredis==2.0.0
htmlmin==0.1.12
hupper==1.10.2
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
ImageHash==4.2.0
imbalanced-learn==0.7.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
ipydatawidgets==4.2.0
ipykernel @ file:///C:/ci/ipykernel_1596190155316/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipyleaflet==0.13.6
ipympl==0.7.0
ipython @ file:///C:/ci/ipython_1598865816163/work
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.5.0
ipyvuetify==1.6.2
ipywebrtc==0.6.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
isodate==0.6.0
itsdangerous==1.1.0
jedi @ file:///C:/ci/jedi_1598353661586/work
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.1
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
Keras-Preprocessing==1.1.2
kiwisolver @ file:///C:/ci/kiwisolver_1604014703538/work
kmodes==0.10.1
lab==6.3
lightgbm==2.3.1
llvmlite==0.36.0
locket==0.2.1
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-base_1603355780617/work
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mlflow==1.17.0
mltk==0.0.5
mlxtend==0.18.0
modin==0.9.1
modin-spreadsheet==0.1.2
mpmath==1.1.0
msgpack==1.0.2
msrest==0.6.21
multidict==5.1.0
multimethod==1.4
murmurhash==1.0.5
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///C:/ci/nbconvert_1601914925608/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
networkx==2.5.1
nltk==3.6.1
nose==1.3.7
notebook @ file:///C:/ci/notebook_1601501643625/work
numba @ file:///D:/bld/numba_1616708058017/work
numexpr==2.7.3
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencensus==0.7.12
opencensus-context==0.1.2
opt-einsum==3.3.0
packaging==20.4
pandas==1.2.3
pandas-profiling==3.0.0
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
PasteDeploy==2.1.1
pathy==0.5.2
patsy==0.5.1
pefile==2021.5.13
phik==0.11.2
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1603823068645/work
plac==1.1.3
plaster==1.0
plaster-pastedeploy==0.7
plotly==4.4.1
plumbum==1.7.0
preshed==3.0.5
progressbar2==3.53.1
prometheus-client==0.8.0
prometheus-flask-exporter==0.18.2
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.15.6
psutil==5.8.0
py-spy==0.3.5
pyaml==20.4.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==2.3.1
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydantic==1.8.2
pydeck==0.6.2
pyerfa==1.7.2
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyLDAvis==3.3.1
pynndescent==0.5.2
pyod==0.8.8
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pypi==2.1
pypiwin32==223
pyramid==2.0
pyrsistent @ file:///C:/ci/pyrsistent_1600141795814/work
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-utils==2.5.6
pythreejs==2.3.0
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==19.0.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
querystring-parser==1.2.4
rapids==0.0.1
ray==1.1.0
redis==3.5.3
regex==2021.4.4
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
retrying==1.3.3
rpyc==4.1.5
rsa==4.7.2
s3transfer==0.4.2
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy==1.5.4
seaborn==0.11.0
Send2Trash==1.5.0
shap @ file:///D:/bld/shap_1619696988184/work
Shapely==1.7.1
simplejson==3.17.2
sip==4.19.13
six==1.15.0
sklearn==0.0
slicer @ file:///home/conda/feedstock_root/build_artifacts/slicer_1608146800664/work
smart-open==5.0.0
smmap==4.0.0
sortedcontainers==2.3.0
spacy==2.3.5
spacy-legacy==3.0.5
SQLAlchemy==1.4.15
sqlparse==0.4.1
srsly==1.0.5
statsmodels==0.12.2
streamlit==0.81.1
sympy==1.7.1
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tblib==1.7.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
textblob==0.15.3
thinc==7.4.5
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
toml==0.10.2
toolz==0.11.1
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1617680194207/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
traittypes==0.2.1
translationstring==1.4
txt2tags==3.7
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
umap-learn==0.5.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
vaex==4.1.0
vaex-astro==0.8.0
vaex-core==4.1.0
vaex-hdf5==0.7.0
vaex-jupyter==0.6.0
vaex-ml==0.11.1
vaex-server==0.4.0
vaex-viz==0.5.0
validators==0.18.2
venusian==3.0.0
visions==0.7.1
waitress==2.0.0
wasabi==0.8.2
watchdog==2.1.1
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
WebOb==1.8.7
websocket-client==0.59.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.12.1
xarray==0.17.0
xgboost==0.90
yarl==1.6.3
yellowbrick==1.0.1
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1603306325174/work
zope.deprecation==4.4.0
zope.interface==5.3.0
